# Disable automatic builds
build: off

# Version number
version: 0.1.{build}

skip_commits:
  files:
    - README.md
    - appveyor.yml
    - docs/*
    - .vscode
  message: /updated readme.*|update readme.*s|update docs.*|update version.*|update appveyor.*/

pull_requests:
  do_not_increment_build_number: true

branches:
  only:
  - master

environment:
  GitHubKey:
    secure: sF4El1RbRQ5kkI1+K5sv9AZlwkaJE9OeOyUnTBwtVyNeo7krRP0V1C607Tal3sUQ
  NuGetKey:
    secure: JIP/CzuBZTaDq9NS7FAzcAjZVq0kWfM1+KVMDm3IvbIFDdD1RX0MHShhYpohD3Iv

# Allow WMF5 (i.e. PowerShellGallery functionality)
os: WMF 5

# Prepare Git and Build environment
init:
  - git config --global core.autocrlf true
  - git config --global credential.helper store
  - ps: Add-Content "$env:USERPROFILE\.git-credentials" "https://$($env:GitHubKey):x-oauth-basic@github.com`n"
  - git config --global user.email "Maik.Koster@gmx.de"
  - git config --global user.name "Maik Koster"
  - ps: |
      Install-PackageProvider -Name NuGet -Force | Out-Null
      Install-Module InvokeBuild -Force

build_script:
  - ps: Invoke-Build -Task Build

after_build:
  - 7z a ConfigMgr.zip %APPVEYOR_BUILD_FOLDER%\artifacts\ConfigMgr

artifacts:
  - path: ConfigMgr.zip

on_success:
  - git checkout master
  - git add --all
  - git reset -- ConfigMgr.zip
  - git status
  - git commit -s -m "Update version to %APPVEYOR_BUILD_VERSION%"
  - git push origin master

deploy:
  release: v$(appveyor_build_version)
  description: 'Release description'
  provider: GitHub
  auth_token:
    secure: sF4El1RbRQ5kkI1+K5sv9AZlwkaJE9OeOyUnTBwtVyNeo7krRP0V1C607Tal3sUQ
  artifact: ConfigMgr.zip
  draft: true
  prerelease: false
  on:
    branch: master                 # release from master branch only
